.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#siblingList {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  margin: 10px;
  width: 200px;
}
button {
  margin: 10px;
  width: 100px;
}